<template>
    <div class="entry-list">
        <ListElement :list="listItem" :sortId="sortId"/>
    </div>
</template>
<script>
import ListElement from './ListElement';
export default {
    name: 'EntryList',
    components: {
        ListElement
    },
    props: {
        listId: String,
        sortId: String,
    },
    data: () => {
        return {
            lists: [
                {
                    id: 'VEG',
                    items: [
                        { id:0, value:'Concombre'}, 
                        { id:1, value:'Aubergine'}, 
                        { id:2, value:'Carotte' }
                    ]
                },
                {
                    id: 'FRUITS',
                    items: [
                        { id:0, value:'Poire'}, 
                        { id:1, value:'Pomme'}, 
                        { id:2, value:'Banane' }
                    ]
                },
                {
                    id: 'SODAS',
                    items: [
                        { id:0, value: 'Coca'}, 
                        { id:1, value: 'Sprite'}, 
                        { id:2, value: 'Fanta' }
                    ]
                }
            ],
        }
    },
    computed: {
        newListValue() {
            return true;
        },
        filteredList() {
            return this.lists.find(i => {
                return i.id === this.listId.toUpperCase();
            });
        },
        listItem() {
            return this.filteredList && this.filteredList.items ? this.filteredList.items : [];
        }
    }
}
</script>
<style lang="scss">

</style>