<template>
    <ul>
        <li v-for="item in sortedList" :key="item.id">
            {{ item.value }}
        </li>
    </ul>
</template>
<script>
    export default {
        name: 'ListElement',
        props: {
            list: Array,
            sortId: String,
        },
        computed: {
            sortedList() {
                if(!this.list || this.list.length == 0) return [];
                
                if(this.sortId === 'ASC') {
                    return this.list.slice().sort((a,b) => a.value.localeCompare(b.value));
                } else {
                    return this.list.slice().sort((a,b) => b.value.localeCompare(a.value));
                }
            }
        }
    }
</script>
<style lang="scss">

</style>