<template>
    <div class="span-input-div">
        <span class="app-title">
            Liste affichée : {{ listId }}  <br/>
        </span>
        <span class="app-title">
            Triée par ordre : {{ sortId | formatSortLabel }}
        </span>
        <div class="inputs">
            <!-- Id that'll choose the list -->
            <input class="text-input" placeholder="Id de la liste" type="text" v-model="listId">
            <!-- Sort Id that'll order the list accordingly  -->
            <input class="text-input" placeholder="Tri de la liste" type="text" v-model="sortId">
        </div>
        <EntryList :listId="listId" :sortId="sortId"/>
    </div>
</template>
<script>
import EntryList from './EntryList';
export default {
    name:'RootListInput',
    components: {
        EntryList,
    },
    data: () => {
        return {
            listId: '',
            sortId: 'ASC',
        }
    },
    filters: {
        formatSortLabel: (sortValue) => {
            return sortValue === 'ASC' ? 'Ascendant' : 'Descendant';
        }
    }
}
</script>
<style lang="scss">
.span-input-div {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;

    .app-title {
        line-height: 24px;
        text-align: left;
    }
    .inputs {
        display: inherit;
        flex-direction: column;

        .text-input {
            margin: 5px 0 0 5px;
        }
    }
}
</style>